    {% extends 'NutrirBoxBundle::base.html.twig' %}
    {% block title %} Transacao {% endblock %}
    {% block header %} Transacao {% endblock %}
    {% block subheader %} Detalhe {% endblock %}

{% block body -%}
    <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> Transacao </div>
                <!-- integer -->                <div class="profile-info-value">
                    <span>{{ entity.coTransacao }}</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Nome </div>
                <!-- string -->                <div class="profile-info-value">
                    <span>{{ entity.noNome }}</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Descricao </div>
                <!-- text -->                <div class="profile-info-value">
                    <span>{{ entity.deDescricao }}</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> Ativo </div>
                <!-- boolean -->                
                <div class="profile-info-value">
                    <span>{% if entity.isAtivo == 1 %} Sim {% else %} Não {% endif %}</span>
                </div>
            </div>
    </div>
        
    <div class="hr dotted"></div>

        <p>
    <a href="{{ path('admin_transacao') }}" class="btn">
        <i class="ace-icon fa fa-arrow-left bigger-120"></i>
        Listar
    </a>
            <a href="{{ path('admin_transacao_edit', { 'id': entity.coTransacao }) }}" class="btn">
            <i class="ace-icon fa fa-pencil bigger-120"></i>
            Editar
        </a>
                <a href="#" class="btn btn-delete">
            <i class="ace-icon fa fa-trash bigger-120"></i>
            Deletar
        </a>
        {{ form(delete_form) }}
    </p>{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{asset('bundles/nutrirbox/dist/js/config/deletar.js')}}'></script>
{% endblock %}
 