    {% extends 'NutrirBoxBundle::base.html.twig' %}
    {% block title %} Ingrediente {% endblock %}
    {% block header %} Ingrediente {% endblock %}
    {% block subheader %} Lista {% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div>
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>                                        <th>Ingrediente</th>                                        <th>Nome</th>                                        <th>Descricao</th>                                        <th>Valor</th>                                        <th>Ativo</th>                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                <tr>
                                    <td class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>                                            <td><a href="{{ path('admin_ingrediente_show', { 'id': entity.coIngrediente }) }}">{{ entity.coIngrediente }}</a></td>                                            <td>{{ entity.noNome }}</td>                                            <td>{{ entity.deDescricao }}</td>                                            <td>{{ entity.vlValor }}</td>                                            <td>{% if entity.isAtivo == 1 %} <span class="label label-success arrowed-in">Sim</span> {% else %} <span class="label label-danger arrowed-in">Não</span> {% endif %}</td>                                            <td><div class="hidden-sm hidden-xs btn-group">            <a href="{{ path('admin_ingrediente_show', { 'id': entity.coIngrediente }) }}" class="btn btn-xs btn-warning" title="Detalhar">
            <i class="ace-icon fa fa-search-plus bigger-120"></i>
        </a>
                        <a href="{{ path('admin_ingrediente_edit', { 'id': entity.coIngrediente }) }}" class="btn btn-xs btn-info" title="Editar">
            <i class="ace-icon fa fa-pencil bigger-120"></i>
        </a>
        <a class="btn btn-xs btn-danger btn-delete" id="{{ entity.coIngrediente }}" title="Deletar">
        <i class="ace-icon fa fa-trash-o bigger-120"></i>
    </a>
</div>
<div class="hidden-md hidden-lg">
    <div class="inline pos-rel">
        <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
        </button>

        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">                            <li>
                    <a href="{{ path('admin_ingrediente_show', { 'id': entity.coIngrediente }) }}" title="Detalhar" data-rel="tooltip" class="tooltip-info" href="#" data-original-title="Detalhar">
                        <span class="blue">
                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                        </span>
                    </a>
                </li>
                                                                <li>
                    <a href="{{ path('admin_ingrediente_edit', { 'id': entity.coIngrediente }) }}" title="Editar" data-rel="tooltip" class="tooltip-success" href="#" data-original-title="Editar">
                        <span class="green">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </span>
                    </a>
                </li>
                        <li>
                <a title="Deletar" data-rel="tooltip" id="{{ entity.coIngrediente }}" class="tooltip-error btn-delete" href="#" data-original-title="Deletar">
                    <span class="red">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>                                            </td>                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <br />
        <div class="row">
            <div class="col-xs-12">
                <a class="btn" href="{{ path('admin_ingrediente_new') }}">
                    <i class="ace-icon fa fa-plus bigger-120"></i>
                    Novo
                </a>
            </div>
        </div>
        {{ form(delete_form) }}
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Plugins especificos da pagina -->
    <script src='{{asset('bundles/nutrirbox/dist/js/dataTables/jquery.dataTables.min.js')}}'></script>
    <script src='{{asset('bundles/nutrirbox/dist/js/dataTables/jquery.dataTables.bootstrap.min.js')}}'></script>
    <script src='{{asset('bundles/nutrirbox/dist/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js')}}'></script>
    <script src='{{asset('bundles/nutrirbox/dist/js/dataTables/extensions/ColVis/js/dataTables.colVis.min.js')}}'></script>
    <script src='{{asset('bundles/nutrirbox/dist/js/config/listagem.js')}}'></script>
    <!-- Configuracao da Tela -->
{% endblock %}
 
